<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
        <div class="form-group">
          <label for="title">Title</label>
          <%= f.text_field(:title, class: "form-control", placeholder: "Enter Title") %>
        </div>
        <div class="form-group">
          <label for="body">Description</label>
          <%= f.text_area(:body, class: "form-control", placeholder: "Enter Description", rows: 10) %>
        </div>
        <div class="text-right">
          <%= f.submit(class: "btn btn-primary") %>
        </div>
<% end %>
